# Ignore Python cache and environment
venv/
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore database files
db.sqlite3

# Ignore compiled and system files
*.log
.DS_Store

# Ignore Node.js dependencies
node_modules/
.next/